.InputCont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Input {
  width: 376px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));
  padding: 16px;
  font-size: 16px;
}
